{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رآستا</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/dana" rel="stylesheet">
    <!-- Your custom CSS (if any) -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="path/to/your/custom.css"> -->
</head>
<body>
    <div class="container-fluid">
        <div class="head">
            <div class="d-flex justify-content-between navbar">
                <div></div>
                <div>
                    <a class="text-reset text-decoration-none" href="#">خانه</a>
                </div>
                <div></div>
                <div>
                    <a class="text-reset text-decoration-none" href="#">محصولات</a>
                </div>
                <div></div>
                <div></div>
                <div class="mb-2">
                    <div class="search-box">
                        <div class="rounded-rectangle">
                            <input type="text" class="search-input" placeholder="جستجو">
                        </div>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="me-5">
                    <a class="text-reset text-decoration-none" href="#">حساب کاربری</a>
                </div>
                <div></div>
                <div>
                    <a class="text-reset text-decoration-none" href="#">ارتباط با ما</a>
                </div>
                <div></div>
            </div>
            <div>
                <div class="d-none d-lg-block w-25 m-4" style="position: absolute; top: 100px;">
                    <p class="fs-3">“با ما به دنیای مد خوش آمدید! از آخرین مدل‌های پوشاک تا لباس‌های رسمی و راحتی، مجموعه‌ای از بهترین انتخاب‌ها در انتظار شماست<br> از طراحی‌های منحصر به فرد تا کیفیت بی‌نظیر، ما به شما اطمینان می‌دهیم که با خرید از ما، بهترین تجربه را خواهید داشت.”                    </p>
                </div>
                <div class="d-none d-lg-block w-25 m-4" style="position: absolute; top: 100px; left: 0px; color: #f1f1f1;">
                    <p class="fs-2 my-4" style="color: rgb(255, 255, 255);">"مثل کارمندها خرج کن، مثل کارخونه دارها بپوش!"</p>
                    <p class="fs-4 my-5">"لباسی که از ما می‌خرید می‌تواند یک ارثیۀ خانوادگی شود!"</p>
                    <p class="fs-5 my-5" style="color: #373d3f;">"استایل شما، داستان شماست. با لباس‌های ما، داستان خود را به رنگینی بیان کنید و مشتریان خود را به سویمان بکشید"</p>
                </div>
            </div>
        </div>
        <!-- <div class="align-items-center text-center">
            <img src="{% static 'images/logo_name_1.png' %}" height="100px" width="150px">
            <div class="brand-description my-2 d-block">
                <p>این یک متن تست الست</p>
            </div>
        </div> -->
    </div>
    <div class="popular p-0 m-0">
        <h1 id="popular_logo">پرفروش ها</h1>
        <div class="container p-0">
            <div class="row gx-5 p-md-5">
                <div class="col-12 col-lg-4 h-50 justify-content-center p-5 p-md-4">
                    <div class="card d-block">
                        <img src="{% static 'temps/minimal_1.jpg' %}" class="card-img-top lg-w-50">
                        <div class="card-body">
                            <h5 class="card-title">مینیمالیستی</h5>
                            <p class="card-text text-center">“سادگی و شیکی در یکجا! با لباس‌های مینیمالیستی ما، شما می‌توانید به راحتی جذابیت خود را نشان دهید. از برش‌های دقیق و پارچه‌های با کیفیت بالا استفاده کنید و استایل خود را به سادگی تکمیل کنید.”</p>
                            <button class="btn btn-product text-center">مشاهده</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 justify-content-center p-5 p-md-4">
                    <div class="card d-block">
                        <img src="{% static 'temps/vintage_1.jpg' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">وینتیج</h5>
                            <p class="card-text text-center">“بازگشت به گذشته! از پیراهن‌های چهارخانه فلانل، شلوارهای جین ضخیم و کراوات‌های گره‌دار استفاده کنید و استایل خود را بازترکیب کنید.”</p>
                            <button class="btn btn-product text-center">مشاهده</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 justify-content-center p-5 p-md-4">
                    <div class="card d-block">
                        <img src="{% static 'temps/avangard_1.jpg' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">آوانگارد</h5>
                            <p class="card-text text-center">“خلاقیت بی‌پایان! با ترکیب‌های بی‌رنگ، الگوهای متضاد و برش‌های نوآورانه، استایل خود را به یک سطح جدید ببرید.”</p>
                            <button class="btn btn-product text-center">مشاهده</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="brief shadow bg-white">
            <div class="row m-3 gx-5 gy-2">
                <div class="col-12 col-md-6 text-end order-0 order-md-0">
                  <h3 class="fw-bold my-5"> به دنبال یک راه سریع و ارزان برای افزایش مهارت های خود هستید؟</h3>
                  <p class="fs-4 mt-5">اگر پاسخ شما بله است، پس این پیشنهاد فوق العاده از سایت سولو مارکت از دست ندهید!
                    </p>
                </div>
                <div class="col-12 col-md-6 text-center order-1 order-md-1">
                  <img src="images/OIG1.png" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 text-center order-3 order-md-2">
                  <img src="images/OIG2.png" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 text-end order-2 order-md-3">
                  <p class="fs-4 mt-5" style="word-spacing: 0.5rem;">
                    سایت سولو مارکت یک پلتفرم آنلاین برای فروش دوره های آموزشی در زمینه های مختلف است که شما می توانید به راحتی و با هزینه اندک به آنها دسترسی پیدا کنید.
                    
                    شما می توانید از بین صدها دوره آموزشی در زمینه های مختلف مانند برنامه نویسی، طراحی گرافیک، بازاریابی، مدیریت، زبان خارجی و ... انتخاب کنید و با مربیان مجرب و حرفه ای یاد بگیرید.
                  </p>
                </div>
                <div class="col-12 col-md-6 text-end order-4">
                  <p class="fs-4 mt-5" style="word-spacing: 0.5rem;">
                    همچنین، پس از پایان هر دوره، شما یک مدرک معتبر و قابل تایید از سایت سولو مارکت دریافت خواهید کرد که می توانید آن را در رزومه خود قرار دهید و از آن برای اثبات مهارت های خود استفاده کنید.
                  </p>
                </div>
                <div class="col-12 col-md-6 text-center order-5">
                  <img src="images/OIG3.png" class="img-fluid">
                </div>
                <div class="col-12 my-5 gy-5 order-last pb-5">
                  <h1 class="fw-bold text-shadow-1 text-center"> سولو مارکت، مکانی برای یادگیری، رشد و موفقیت!      </h1>
                </div>
              </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>